body {
    background-image: url('../images/pictures/nightSky.png');
    background-size: contain;
    background-position: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
    padding: 3px;
}

header nav img {
    margin: 0 5px 0 0;
    width: 2em;
}

main {
    color: white;
}